.container-row {
  margin: 1vh auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-column {
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item {
  margin: 0 1%;
}

.flexCenter {
  align-self: center;
}
