<form class="container-column" #myForm="ngForm" (ngSubmit)="addPizza(myForm)">
  <div class="container-row">
    <mat-form-field class="item" appearance="fill">
      <mat-label>Pizza name</mat-label>
      <input
        id="name"
        name="name"
        type="text"
        ngModel
        #pizzaName="ngModel"
        required
        matInput
      />
    </mat-form-field>
    <mat-form-field class="item" appearance="fill">
      <mat-label>Description</mat-label>
      <input
        id="description"
        name="description"
        type="text"
        ngModel
        #pizzaDescription="ngModel"
        required
        matInput
      />
    </mat-form-field>

    <mat-form-field class="item" appearance="fill">
      <mat-label>Pizza image URL</mat-label>
      <input
        id="img"
        name="img"
        type="text"
        ngModel
        #pizzaImgUrl="ngModel"
        required
        matInput
      />
    </mat-form-field>
  </div>
  <button
    class="flexCenter"
    mat-raised-button
    color="primary"
    [disabled]="myForm.invalid"
  >
    Add pizza
  </button>
</form>
