/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("../bgi.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
