@font-face {
  font-family: Lato;
  src: url(../../../Lato-Regular.ttf);
}

textarea {
  max-width: 400px;
  min-width: 400px;
  max-height: 100px;
  min-height: 100px;
  opacity: 0.5;
}

label {
  font-family: "Lato";
}
input {
  opacity: 0.5;
}

button {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", "Arial";
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}
button:hover {
  color: #ffffff;
  background-color: #000000;
}
