<label>
  Title:
  <br />
  <input type="text" [(ngModel)]="createdTitle" />
  <br />
  Content:
  <br />
  <textarea [(ngModel)]="createdContent" rows="4" cols="50"> </textarea>
  <br />
  Image URL:
  <br />
  <input type="text" [(ngModel)]="createdImgUrl" />
  <br />
  <br />
  <button (click)="addNews()" [disabled]="!createdTitle">Dodaj</button>
</label>
<!-- W () są eventy takie jak click, w [] są properties (propsy) -->
<!-- ngModel jest to wsparcie Angulara, które zapewnia binding dwustronny. Musimy go najpierw zaimportować ( sprawdź app.module.ts) -->
