<div class="container-space-between">
  <app-pizza-navbar></app-pizza-navbar>

  <div class="container-column">
    <ul class="container-column">
      <li
        class="card-container"
        *ngFor="
          let comment of comments
            | paginate: { itemsPerPage: 5, currentPage: pageIndex }
        "
      >
        <mat-card>
          <mat-card-header>
            <mat-card-title></mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>{{ comment.body }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="primary">
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>

    <div class="has-text-centered">
      <pagination-controls
        (pageChange)="pageIndex = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
